body {
    background-color: #FFFCF3;
    width: 400px;
    margin:0 0 50px 0;
   
    
}
.img {
    width: 400px;
    
}

.item h1 {
    font-size: 28px;
    color: #4B5944;
    
    margin:20px 0 0 0;
}

.price p {
    font-size: 14px;
    
    color: #333333;
    
   
}

.information p {
    font-size: 12px;
    color: #989898;
    
    margin: 28px 0 0 0;
}

h6{
    font-size: 14px;
    color: #555555;
    
    margin: 60px 0 0 0;
}

.order {
    margin: 20px 0 0 0;
}
.order th{
    font-size: 12px;
    
    color: #888888;
    
    list-style-type:square;
    display: table-row;
    
}

.btn {
    padding: 10px 170px;
    border-radius: 6px;
    background-color: #E6E2D0;
    margin: 40px 0 0 0;
    color: #4B5944;    
}








